@font-face {
    src: url(fonts/Spider-Man.otf);
    font-family: spooderman;
}

body{
    background-color: black;
    color: aliceblue;
}

#t1{
    color: rgb(244, 240, 255);
    font-family: Danfo, verdana;
    font-size: 4.2em;
}

#t2{
    color: aliceblue;
    font-size: 2em;
}

#spider{
    font-family: spooderman;
    font-size: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}